button {
  min-width: 22vmax;
  min-height: 5vmax;
}

.Body {
  width: 100%;
  height: 70vw;
  background-image: url(./mouri.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

p {
  font-size: 4vmax;
  font-weight: 10vmax;
  font-family: "MS PMincho";
}
